# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

chef-agent/front-end/node_modules
chef-agent/front-end/dist
chef-agent/front-end/dist-ssr
chef-agent/.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

chef-agent/back-end/.env
chef-agent/back-end/__pycache__
chef-agent/back-end/.venv
